<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.sso.mapper.WebUsersMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.java.model.WebUsersEntity" id="webUsersMap">
        <result property="id" column="id"/>
        <result property="uname" column="uname"/>
        <result property="username" column="username"/>
        <result property="pwd" column="pwd"/>
        <result property="phone" column="phone"/>
        <result property="updatetime" column="updateTime"/>
        <result property="userheader" column="userHeader"/>
        <result property="email" column="email"/>
    </resultMap>
  
  <!--要查询的字段-->  
  <sql id="sel_WebUsersColumns_List" > 
  	  id ,        
  uname ,        
  username ,        
  pwd ,        
  phone ,        
   updateTime  ,        
   userHeader   ,
   email
  
  </sql>
  
  <!--要添加的字段-->
  <sql id="ins_WebUsersColumns_List" >
       #{id},   #{uname},   #{username},   #{pwd},   #{phone},   #{updatetime},   #{userheader},#{email}   </sql>
  
  <!--要修改的字段-->
  <sql id="upd_WebUsersColumns_List" >
    <set>
    <if test="t.uname != null">uname = #{t.uname}, </if>
    <if test="t.username != null">username = #{t.username}, </if>
    <if test="t.pwd != null">pwd = #{t.pwd}, </if>
    <if test="t.phone != null">phone = #{t.phone}, </if>
    <if test="t.updatetime != null">updateTime = #{t.updatetime}, </if>
    <if test="t.userheader != null">userHeader = #{t.userheader}</if>
        <if test="t.email != null">email = #{t.email}</if>
	</set>
	where id = #{t.id}
  </sql> 
  
  <!--定义删除的条件-->
  <sql id="del_WebUsersPramas_List">
    <where>
    <if test="t.id != null">and id = #{t.id}</if>
    <if test="t.uname != null">and uname = #{t.uname}</if>
    <if test="t.username != null">and username = #{t.username}</if>
    <if test="t.pwd != null">and pwd = #{t.pwd}</if>
    <if test="t.phone != null">and phone = #{t.phone}</if>
    <if test="t.updatetime != null">and updateTime = #{t.updatetime}</if>
    <if test="t.userheader != null">and userHeader = #{t.userheader}</if>
        <if test="t.email != null">email = #{t.email}</if>
	</where>
  </sql> 
  
  <!--定义查询的条件-->
  <sql id="sel_WebUsersPramas_List">
    <where>
    <if test="t.id != null">and id = #{t.id}</if>
    <if test="t.uname != null">and uname = #{t.uname}</if>
    <if test="t.username != null">and username = #{t.username}</if>
    <if test="t.pwd != null">and pwd = #{t.pwd}</if>
    <if test="t.phone != null">and phone = #{t.phone}</if>
    <if test="t.updatetime != null">and updateTime = #{t.updatetime}</if>
    <if test="t.userheader != null">and userHeader = #{t.userheader}</if>
        <if test="t.email != null">email = #{t.email}</if>
	</where>
  </sql>

    <!--添加-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into web_users values (<include refid="ins_WebUsersColumns_List" />)
    </insert>

    <!--修改-->
    <update id="update">
        update web_users <include refid="upd_WebUsersColumns_List" />
    </update>

    <!--根据条件删除-->
    <delete id="delete">
        delete from web_users <include refid="del_WebUsersPramas_List" />
    </delete>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from web_users where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据主键id查询单个对象-->
	<select id="queryObjectById" resultMap="webUsersMap">
		select  <include refid="sel_WebUsersColumns_List" />  from web_users where id = #{id}
	</select>
	
	<!--查询所有对象-->
	<select id="queryAll" resultMap="webUsersMap">
		select  <include refid="sel_WebUsersColumns_List" />  from web_users
    </select>

    <!--根据条件（无条件）查询多个对象-->
	<select id="queryManyByPramas" resultMap="webUsersMap">
		select  <include refid="sel_WebUsersColumns_List" />  from web_users <include refid="sel_WebUsersPramas_List" />
	</select>
	
	<!--根据条件（无条件）分页查询-->
	<select id="queryListByPramas" resultMap="webUsersMap">
		select  <include refid="sel_WebUsersColumns_List" />  from web_users <include refid="sel_WebUsersPramas_List" /> order by id desc
	</select>

    <!--根据条件查询单条数据-->
    <select id="queryObjectByPramas" resultMap="webUsersMap">
        select  <include refid="sel_WebUsersColumns_List" />  from web_users <include refid="sel_WebUsersPramas_List" />
    </select>
	
	<!--根据条件（无条件）查询数据条数-->
 	<select id="queryTotalByPramas" resultType="java.lang.Long">
		select count(*) from web_users <include refid="sel_WebUsersPramas_List" />
	</select>
	


</mapper>