<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.web.mapper.WebSeckillMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="WebSeckillEntity" id="webSeckillMap">
        <result property="id" column="id"/>
        <result property="productid" column="productId"/>
        <result property="num" column="num"/>
        <result property="seckillprice" column="seckillPrice"/>
        <result property="starttime" column="startTime"/>
        <result property="endtime" column="endTime"/>
        <result property="status" column="status"/>
        <result property="href" column="href"/>
    </resultMap>
  
  <!--要查询的字段-->  
  <sql id="sel_WebSeckillColumns_List" > 
  	  id ,        
   productId  ,        
  num ,        
   seckillPrice  ,        
   startTime  ,        
   endTime  ,        
  status ,        
  href         
  
  </sql>
  
  <!--要添加的字段-->
  <sql id="ins_WebSeckillColumns_List" >
       #{id},   #{productid},   #{num},   #{seckillprice},   #{starttime},   #{endtime},   #{status},   #{href}   </sql> 
  
  <!--要修改的字段-->
  <sql id="upd_WebSeckillColumns_List" >
    <set>
    <if test="t.productid != null">productId = #{t.productid}, </if>
    <if test="t.num != null">num = #{t.num}, </if>
    <if test="t.seckillprice != null">seckillPrice = #{t.seckillprice}, </if>
    <if test="t.starttime != null">startTime = #{t.starttime}, </if>
    <if test="t.endtime != null">endTime = #{t.endtime}, </if>
    <if test="t.status != null">status = #{t.status}, </if>
    <if test="t.href != null">href = #{t.href}</if>
	</set>
	where id = #{t.id}
  </sql> 
  
  <!--定义删除的条件-->
  <sql id="del_WebSeckillPramas_List">
    <where>
    <if test="t.id != null">and id = #{t.id}</if>
    <if test="t.productid != null">and productId = #{t.productid}</if>
    <if test="t.num != null">and num = #{t.num}</if>
    <if test="t.seckillprice != null">and seckillPrice = #{t.seckillprice}</if>
    <if test="t.starttime != null">and startTime = #{t.starttime}</if>
    <if test="t.endtime != null">and endTime = #{t.endtime}</if>
    <if test="t.status != null">and status = #{t.status}</if>
    <if test="t.href != null">and href = #{t.href}</if>
	</where>
  </sql> 
  
  <!--定义查询的条件-->
  <sql id="sel_WebSeckillPramas_List">
    <where>
    <if test="t.id != null">and id = #{t.id}</if>
    <if test="t.productid != null">and productId = #{t.productid}</if>
    <if test="t.num != null">and num = #{t.num}</if>
    <if test="t.seckillprice != null">and seckillPrice = #{t.seckillprice}</if>
    <if test="t.starttime != null">and startTime = #{t.starttime}</if>
    <if test="t.endtime != null">and endTime = #{t.endtime}</if>
    <if test="t.status != null">and status = #{t.status}</if>
    <if test="t.href != null">and href = #{t.href}</if>
	</where>
  </sql>

    <!--添加-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into web_seckill values (<include refid="ins_WebSeckillColumns_List" />)
    </insert>

    <!--修改-->
    <update id="update">
        update web_seckill <include refid="upd_WebSeckillColumns_List" />
    </update>

    <!--根据条件删除-->
    <delete id="delete">
        delete from web_seckill <include refid="del_WebSeckillPramas_List" />
    </delete>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from web_seckill where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据主键id查询单个对象-->
	<select id="queryObjectById" resultMap="webSeckillMap">
		select  <include refid="sel_WebSeckillColumns_List" />  from web_seckill where id = #{id}
	</select>
	
	<!--查询所有对象-->
	<select id="queryAll" resultMap="webSeckillMap">
		select  <include refid="sel_WebSeckillColumns_List" />  from web_seckill
    </select>

    <!--根据条件（无条件）查询多个对象-->
	<select id="queryManyByPramas" resultMap="webSeckillMap">
		select  <include refid="sel_WebSeckillColumns_List" />  from web_seckill <include refid="sel_WebSeckillPramas_List" />
	</select>
	
	<!--根据条件（无条件）分页查询-->
	<select id="queryListByPramas" resultMap="webSeckillMap">
		select  <include refid="sel_WebSeckillColumns_List" />  from web_seckill <include refid="sel_WebSeckillPramas_List" /> order by id desc
	</select>

    <!--根据条件查询单条数据-->
    <select id="queryObjectByPramas" resultMap="webSeckillMap">
        select  <include refid="sel_WebSeckillColumns_List" />  from web_seckill <include refid="sel_WebSeckillPramas_List" />
    </select>
	
	<!--根据条件（无条件）查询数据条数-->
 	<select id="queryTotalByPramas" resultType="java.lang.Long">
		select count(*) from web_seckill <include refid="sel_WebSeckillPramas_List" />
	</select>
	


</mapper>